.hide {
    display: none !important;
}
.disable-input{
    cursor: not-allowed;
}
select{
    cursor: pointer;
}
.no-friend{
    margin-left: 25px;
    font-size: 13px;
}
.friend-status-chat.status-online {
    color: #22a922 !important;
}
.conversation-item:hover {
    background-color: rgb(90, 91, 99);
    transition: 0.3s;
}
.conversation-item:hover .users-list-action {
    background-color: rgb(90, 91, 99) !important;
    transition: 0.3s;
}
body.dark .layout .content .sidebar-group .sidebar .list-group-item .users-list-body .users-list-action {
    box-shadow: unset !important;
    background-color: #464852;
}
.search-user {
    max-height: 260px;
    background-color: #5a5c66;
    border-radius: 5px;
    overflow: auto;
}
.avatar-search {
    float: left;
    margin-right: 15px;
}
.full-name{
    font-size: 14px;
}
.bio {
    font-size: 13px;
}
.search-item:hover {
    background-color: #6d6f7b;
}
.search-item:hover .user-add-btn{
    display: block;
}
.search-item{
    cursor: pointer;
}
.search-user-info{
    float: left;
}
.user-add-btn{
    float: right;
    display: none;
}