.hide {
    display: none !important;
}
.disable-input{
    cursor: not-allowed;
}
select{
    cursor: pointer;
}
.no-friend{
    margin-left: 25px;
    font-size: 13px;
}
.friend-status-chat.status-online {
    color: #22a922 !important;
}