@using Web.WebUtilities;
@{
    var loggedUser = SessionUtility.GetLoggedUser();
}

@if(loggedUser != null)
{
    <script>
        var userId = '@loggedUser._id';
    </script>
}

<div class="content">
    <div class="sidebar-group">
        @Html.Partial("_ConversationPartial")
        @Html.Partial("_FriendPartial")
    </div>

    @Html.Partial("_ChatPartial")
</div>